.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 70%;
    border: 1px solid red;
}

.item {

    max-width: 36%;
    grid-column: 1/2;
    grid-row: 1/3;
}

h2 {
    font-size: 2rem;
    padding: 40px 10px;
    margin: 10px 30px;

}

p {
    font-size: 1.3rem;
    padding: 20px 10px;


}

.first {
    max-height: 22rem;
    grid-column: 3/4;
    grid-row: 1/2;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    margin-top: 27px;
    justify-self: flex-end;
}

.second {
    max-height: 22rem;
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    justify-self: end;
}