
.container{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-left: 40px;
    
}

.navbar-nav{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div1{
    width: 148px;
    height: 30px;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.div1 h3{
    width: 30px;
    height: 30px;
    border-radius: 15px 15px;
    background-color: black;
    color: white;
    text-align: center;
}


.child1{
    width: 300px;
    height: 13px;
    
   
}

.child1 ul li{
    font-size: smaller;
    float: left;
    padding-left: 1em;
    padding-right: 1em;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;  
}
.navbar h2{
    width: 53px;
    height: 13px;
}

.navbar h3{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 221, 221);
    border-radius: 0px 0px 0px 30px;
}