
/*.container{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.navbar-nav{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div1{
    width: 148px;
    height: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.div1 h3{
    width: 30px;
    height: 30px;
    border-radius: 15px 15px;
    color: white;
    text-align: center;
}


.child1{
    width: 300px;
    height: 13px;
    
   
}

.child1 ul li{
    font-size: smaller;
    float: left;
    padding-left: 1em;
    padding-right: 1em;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;  
}
.navbar h2{
    width: 53px;
    height: 13px;
}

.navbar h3{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 221, 221);
    border-bottom-left-radius: 30px;
}

.text h2{
    width: 498px;
    height: 216px;
    margin-left: 130px;
    padding-top: 80px;
    font-size: 60px;
}
span{
    border: 2px solid red;
    Width: 405px;
    Height: 52px;
    Top: 430px;
    Left: 130px;
    margin-left: 130px;
    letter-spacing: -1px;

}


.parent{
    display: flex;
    position: relative;
}
.photo1{
    width: 300px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 10%;
}
.photo2{
    width: 328px;
    height: 328px;
    object-fit: cover;
    position: absolute;
    left: 82%;
    top: 135%;
    
}
.photo3{
    width: 328px;
    height: 328px;
    object-fit: cover;
    position: absolute;
    right: 64%;
    top: 135%;
}*/

.row1{
    width: 1140px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;

}
h2{
    font-size: 2rem;
    margin-left: 70px;
    padding-top: 140px;
}
.row1 img{
    width: 50%;
    height: 350px;
    object-fit: cover;
    float: right;
    border-radius: 250px 250px 0px 0px;
    
}
p{
    width: 190px;
    height: 66px;
    background-color: #7D6353;
    position: absolute;
    left: 64%;
    top: 67%;
    border-radius: 10px 15px 0px 15px;
    text-overflow: none;
    box-sizing: border-box;
    font-size: 0.9rem;
    text-align: center;
    

}
.row2{
    position: relative;
}
h5{
    width: 440px;
    height: 78px;
    margin-top: 150px;
    margin-left: 70px;
}
.row2 img{
    width: 25%;
    height: 350px;
    object-fit: cover;
    float: right;
    border-radius: 0px 0px 250px 250px;
    position: absolute;
    left: 45%;
    top: 0%;
}
h3{
    width: 96px;
    height: 22px;
    position: absolute;
    left: 65%;
    top: 80%;
    border-radius: 20px;
    background: #726985;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

h4{
    width: 300px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    left: 65%;
    top: 132%;
    background: #726985;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}