
.container{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    
}

.navbar-nav{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.div1{
    width: 148px;
    height: 30px;
    font-weight: bold;
    margin: 0,auto;

}
.div1 h3{
    width: 30px;
    height: 30px;
    border-radius: 15px 15px;
    background-color: black;
    color: white;
    text-align: center;
}


.child1{
    width: 300px;
    height: 13px;
    
   
}

.child1 ul li{
    font-size: smaller;
    float: left;
    padding-left: 1em;
    padding-right: 1em;

}
.navbar{
    border: 2px solid yellow;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar h2{
    width: 53px;
    height: 13px;
}

.navbar h3{
    width: 100px;
    height: 100px;
}